#appt-main {
    overflow: hidden;
}

.booking-img-div {
    max-width: 50%;
    overflow: hidden;
}

#appt-img img {
    max-height: 100%;
}

.appt-form {
    width: 50%;
    margin-left: 20%; 
    margin-top: 10%
}