#appt-main {
    overflow: hidden;
}

#appt-main h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10%;
}

#appt-main h4 {
    font-family: 'EB Garamond', serif;
    color: rgba(84, 84, 84, 0.7); 
    font-style: oblique; 
    font-size: 20px;
    
}

.booking-img-div {
    max-width: 50%;
    overflow: hidden;
    background-image: url('./assets/images/natural-makeup-layed-out.jpg');
}

#appt-img img {
    max-height: 100%;
}

.appt-form {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%; 
    margin-bottom: 5%
}

.form-control {
    background-color: rgba(252, 252, 252, 0.6); 
    border: none; 
    outline: none;
    transition: none;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#appt-main label {
    font-family: 'EB Garamond', serif;
    font-size: 20px
}

#appt-main textarea {
    height: 150px
} 

#appt-main ::placeholder {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

.contact-btn {
    background-color: #c0998d6f;
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
    font-size: 18px; 
    font-weight: bold; 
    transition: 1s;
}

.contact-btn:hover {
    background-color: #C69D92 ;
}

@media (max-width: 768px) {
    .booking-img-div {
        display: hidden;
    }

    #background-form {
        background-image: url('./assets/images/natural-makeup-layed-out.jpg');
    }

    .appt-form {
        background-color: #cec7c3e9;
        padding-left: 50px; 
        padding-right: 50px; 
        padding-top: 20px; 
        padding-bottom: 20px; 
        width: 70%
    }

    #appt-main label {
        font-size: 15px
    }

    #appt-main h4 {
        font-size: 18px
    }
}

@media (max-width: 576px) {
    #appt-main h1 {
        font-size: 25px;
    }

    #appt-main h4 {
        font-size: 15px;
    }

    .appt-form {
        width: 400px
    }
}

@media (max-width: 475px) {

    .appt-form {
        width: 300px
    }

    #appt-main h1 {
        font-size: 20px;
    }

    .contact-btn {
        font-size: 15px;
    }
}
