.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #635394b1;
    color: white;
    text-align: center;
    height: 100%; 
    margin-top: 5%
}

.footer a {
    font-size: 40px; 
    margin: 50px; 
    color: var(--ghost-white)
}

/* media queries */ 
@media (max-width: 575.98px) {
    .footer a {
        font-size: 30px;
        margin: 30px; 
    }
}

 @media (max-width: 375.98px) {
    .footer a {
        font-size: 25px;
        margin: 20px; 
    }
 }
