/* app js*/
.root-page {
    background-color: #E9E1DE;
}

/* homepage js */

.homepage-init-img {
    width: 70%;
}

.overlap-text-div {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    background-color: #121212; 
    height: 400px; 
    width: 70%; 
    margin-top: 15%; 
    color: white; 
}

.overlap-h1 {
    font-size: 45px;
    padding-top: 60px; 
    letter-spacing: 2px;
}

.overlap-p {
    font-size: 20px;
    padding-top: 50px; 
    padding-right: 40px; 
    padding-left: 40px; 
    font-family: 'EB Garamond', serif;
}

.overlap-btn {
    background-color: #e9e1ded6;
    border-radius: 5px;
    padding: 5px 10px ; 
    font-size: 15px;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    border: none; 
    margin-top: 50px;
    transition: .5s;
}

.overlap-btn:hover {
    background-color: white;
    font-size: 18px
}

.overlap-btn a {
    text-decoration: none;
    color: black
}

#about {
    margin-top: 12%
}

#about h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#about img {
    width: 60%;
    margin-left: 30% 
}

.about-desc {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    margin-left: 30px
}

@media (max-width: 1400px) {
    #about img {
        width: 100%; 
        margin: 0 auto
    }
}

@media (max-width: 1200px) {
    .overlap-text-div {
        width: 90%; 
        margin-top: 3%;
    }

    #about img {
        width: 100%; 
    }
}

@media (max-width: 992px) {
    .overlap-text-div {
        width: 100%;
        margin-top: 8%; 
    }

    .overlap-h1 {
        font-size: 40px
    }

    .homepage-init-img {
        width: 100%
    }

    .about-desc {
        font-size: 16px
    }
}

@media (max-width: 768px) {
    #about img { 
        margin: 0 auto; 
        width: 100%;
        margin-bottom: 5%;
        display: block;
    }

    .about-desc {
        font-size: 20px; 
        text-align: center;
        margin-left: 0px; 
        padding-left: 20px; 
        padding-right: 20px
    }
}

@media (max-width: 576px) {
    .about-desc {
        font-size: 18px
    }

    #about img { 
        margin: 0 auto; 
        width: 80%;
        margin-bottom: 5%;
    }
}

@media (max-width: 375px) {
    .overlap-p {
        padding-top: 40px;
    }
}

