/*  
    font-family: 'DM Serif Display', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Parisienne', cursive; 
    font-family: 'Pacifico', cursive;
    font-family: 'Merriweather', serif;
*/

.navbar {
    background-color: #121212;
}

.navbar-brand {
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    padding-left: 5px;
}

.navbar-light .navbar-brand {
    color: #FFFDF7;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFDF7;
    font-family: 'EB Garamond', serif;
    padding-left: 30px
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
    color: #FFFDF7;
}

