/* hero */
.services-top {
    background-color: white;
}

.message-background {
    background-color: #E9E1DE;
}

.you-look-good {
    align-self: center;
}

.you {
    font-family: 'Pacifico', cursive;
    font-size: 80px; 
    margin-left: 20%; 
    text-shadow: 2px 2px #BC968A;
}

.look {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    margin-left: 20%; 
    text-shadow: 3px 3px #BC968A
}

.good {
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    margin-left: 20%; 
    text-shadow: 4px 4px #BC968A
}

.ylg-small {
    display: none;
}

#services img {
    max-width: 50%;
}

/* services nav and invitation to schedule appt */
#Nav-Invite {
    margin-top: 5%;
}

#nav-container a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black; 
    font-size: 20px; 
    font-family: 'Merriweather', serif; 
    padding: 10px; 
    transition: 0.5s;
    letter-spacing: 1px;
}

.nav-services {
    background-color: white;
    width: 50%; 
    padding: 40px; 
    border-style: solid; 
    border-width: 1px;
    box-shadow: 20px 10px #876c64;
    border-color: #876c64
}

#nav-container a:hover {
    font-size: 25px;
    color: #876c64
}

#services-appt-invite hr {
    height: 5px;
    width: 75%;
    background-color: #876c64;
    margin-left: 70px
}

.invite-p1 {
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
}

.invite-p2 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    text-align: end;
    padding-right: 80px;
}

#Nav-Invite a {
    color: black
}

.today {
    text-decoration: underline;
}

/* hair services section */
#hair {
    margin-top: 20%
}

#hair img {
    margin-left: 40%;
    width: 50%;
}

#hair h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
}

#hair p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.hair-srvs-div {
    width: 20%
}

#hairstyle {
    margin-top: 10%
}
 
.hair-srvs-div-2 {
    width: 50%; 
    float: right; 
    padding-right: 70px
}

#hairstyle p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.hairstyle-div {
    width: 20%; 
    text-align: end;
}

#hairstyle img {
    max-width: 50%
}

#hairstyle h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
}

/* makeup services section */
#makeup {
    margin-top: 25%
}

#makeup h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
}

.makeup1 {
    float: right;
    padding-left: 20px
}

.makeup2 {
    float: left;
}

#makeup img {
    max-width: 80%;
}

.makeup-image {
    text-align: center;
}

.makeup-p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.makeup-text-grp {
    margin-left: 10%;
}

.sm-makeup-img1 {
    display: none;
}

.sm-makeup-img2 {
    display: none;
}

.phone-makeup-img {
    display: none;
}

/* group events section */
#group-events {
    margin-top: 20%; 
    padding-bottom: 10%;
}

#group-events img {
    max-width: 80%; 
    float: right; 
}

#group-events h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
}

.group-events-p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    width: 80%
}

@media (max-width: 1400px) {
    /* makeup services section */
    #makeup {
        margin-top: 25%;
    }

    .makeup1 {
        padding-left: 0px
    }

    .makeup-p {
        font-size: 18px;
    }

    /* hair services section*/
    #hairstyle img {
        max-width: 70%
    }

    .hair-srvs-div-2 {
        width: 65%
    }

    .hair-srvs-div {
        width: 30%
    }
}

@media (max-width: 1200px) {
    /* makeup services section */
    #makeup {
        margin-top: 25%;
    }

    #makeup img {
        max-width: 90%;
        margin-top: 25%
    }
    
    .makeup-text-grp {
        margin-left: 10%;
    }

    #makeup1-image {
        display: none;
    }

    #makeup2-image {
        display: none;
    }

    .sm-makeup-img1 {
        display: block;
        text-align: center;
        margin-bottom: -300px
    }

    .sm-makeup-img2 {
        display: block;
        text-align: center;
        margin-bottom: -300px
    }

    .makeup-p {
        font-size: 20px
    }

    #makeup-section-p {
        padding-left: 60px; 
        padding-right: 60px
    }

    /* group events section */
    #group-events img {
        max-width: 90%; 
        margin-top: 10px
    }
}

@media (max-width: 992px) {
    /* hero */
    .you {
        font-size: 60px;
    }

    .look {
        font-size: 70px;
    }

    .good {
        font-size: 80px ;
    }

    /* services nav and invite to make appt */
    .nav-services {
        width: 80%
    }
    
    #services-appt-invite hr {
        max-width: 100%;
        margin-left: 0px;
    }

    /* makeup services section */
    #makeup {
        margin-top: 25%;
    }

    #makeup img {
        max-width: 90%;
        margin-top: 50%;
    }

    .sm-makeup-img1 {
        display: none
    }

    /*hair services section*/
    .hair-srvs-div {
        width: 40%;
    }

    #hair img {
        margin-left: 30%;
        min-width: 60%;
    }

    .hair-srvs-div-2 {
        width: 80%;
    }

    /* group events section */
    .group-events-p {
        font-size: 20px; 
        width: 95%
    }
}

@media (max-width: 850px) {
    /* makeup services section */
    #makeup img {
        max-width: 100%;
        margin-top: 65%;
    }

    #makeup-section-p {
        padding-left: 30px; 
        padding-right: 30px
    }

    /* hair services section */
    #hair img {
        margin-left: 20%;
        min-width: 80%;
    }

    .hair-srvs-div {
        width: 45%;
    }

    .hair-srvs-div-2 {
        width: 100%;
        padding-right: 0px;
        padding-left: 20%; 
    }

    #hairstyle img {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    /* hero */
    #intro-message {
        display: none;
    }

    #services img {
        max-width: 50%;
        float: right;
    }

    .ylg-small {
        display: block;
        font-size: 40px;
        font-family: 'Pacifico', cursive;
        margin-top: 10%; 
        width: 40%; 
        text-align: center
    }

    .you {
        font-size: 60px
    }

    .look {
        font-size: 70px;
    }

    .good {
        font-size: 80px;
    }

    /* services nav and invite to make appt */
    #services-appt-invite {
        margin-top: 20%; 
        text-align: center;
    }

    .invite-p2 {
        text-align: center;
        padding: 0px
    }

    #services-appt-invite hr {
        max-width: 60%;
        /* margin-left: 0px; */
        /* text-align: center; */
        margin: 0 auto; 
        margin-bottom: 20px
    }

    /* makeup services section */
    #makeup {
        margin-top: 0%;
    }

    #makeup img {
        max-width: 70%; 
        /* height: 80%;  */
    }

    .makeup-image {
        display: none;
    }

    .phone-makeup-img {
        display: block;
        text-align: center;
    }

    .makeup-text-grp {
        margin-left: 0%;
        margin-top: 10%;
    }

    #makeup-section-p {
        padding-left: 60px;
        padding-right: 60px;
    }

    .sm-makeup-img1 {
        display: none
    }

    .sm-makeup-img2 {
        margin-bottom: -50px; 
    }

    /* hair services section */
    #hair img {
        margin-left: 0%;
        min-width: 60%;
    }

    #hair-dresser {
        text-align: center;
    }

    .hair-srvs-div {
        width: 80%;
        margin: 0 auto; 
        margin-top: 10%
    }

    .hair-srvs-div-2 {
        width: 80%;
        padding-right: 0px;
        padding-left: 0px;
        float: none;
        margin: 0 auto
    }

    #hairstyle img {
        max-width: 60%;
    }

    #blonde-hair-pic {
        text-align: center;
        margin-top: 10%
    }

    /* group events section */
    #group-events img {
        float: none;
    }

    .group-img-div {
        text-align: center;
        margin-bottom: 5%
    }

    .group-events-p {
        width: 100%
    }
    
    .group-p-div {
        padding-left: 60px; 
        padding-right: 60px
    }
}

@media (max-width: 576px) {
    /* hero */
    .you {
        font-size: 40px
    }

    .look {
        font-size: 50px;
    }

    .good {
        font-size: 60px;
    }

    /* makeup services section*/
    #makeup {
        margin-top: 0%;
    }

    #makeup img {
        max-width: 80%;
    }

    .sm-makeup-img1 {
        margin-bottom: -40px
    }

    .sm-makeup-img2 {
        margin-bottom: -40px
    }

    /* group events section */
    #group-events img {
        max-width: 80%
    }
}

@media (max-width: 476px) {
    /* hero */
    .you {
        font-size: 30px
    }

    .look {
        font-size: 40px;
    }

    .good {
        font-size: 50px;
    }
    /* makeup services section */
    #makeup {
        margin-top: 0%;
    }

    .makeup-p {
        font-size: 20px
    }
}

@media (max-width: 421px) {
    /* hair services section */
    #hair img {
        margin-left: 0%;
        min-width: 80%;
    }
    
    #hairstyle img {
        min-width: 80%;
    }    
}


@media (max-width: 380px) {
    /* hero */
    .you {
        font-size: 30px
    }

    .look {
        font-size: 40px;
    }

    .good {
        font-size: 45px;
    }

    /* makeup services section */
    #makeup img {
        max-width: 90%;
        margin-bottom: 25px
    }

    .phone-makeup-img {
        display: block;
        text-align: center;
    }

    .sm-makeup-img2 {
        display: none
    }

    /* group events section */
    #group-events img {
        max-width: 75%
    }

    .group-img-div {
        margin-bottom: 10%
    }
}
