.services-top {
    background-color: white;
}

.message-background {
    background-color: #E9E1DE;
}

.you-look-good {
    align-self: center;
}

.you {
    font-family: 'Pacifico', cursive;
    font-size: 80px; 
    margin-left: 20%; 
    text-shadow: 2px 2px #BC968A;
}

.look {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    margin-left: 20%; 
    text-shadow: 3px 3px #BC968A
}

.good {
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    margin-left: 20%; 
    text-shadow: 4px 4px #BC968A
}

#services img {
    max-width: 50%;
}

#Nav-Invite {
    margin-top: 5%; 
    margin-bottom: 5%;
}

#nav-container a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black; 
    font-size: 20px; 
    font-family: 'Merriweather', serif; 
    padding: 10px; 
    transition: 0.5s;
    letter-spacing: 1px;
}

.nav-services {
    background-color: white;
    width: 50%; 
    padding: 40px; 
    border-style: solid; 
    border-width: 1px;
    box-shadow: 20px 10px #876c64;
    border-color: #876c64
    /* border-radius: 10px; */
}

#nav-container a:hover {
    font-size: 25px;
    color: #876c64
}

#services-appt-invite hr {
    height: 5px;
    width: 75%;
    background-color: #876c64;
    margin-left: 70px
}

.invite-p1 {
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
}

.invite-p2 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    text-align: end;
    padding-right: 80px;
}

#Nav-Invite a {
    color: black
}

.today {
    text-decoration: underline;
}

#hair {
    margin-top: 10%
}

#hair img {
    margin-left: 40%;
    width: 50%;
}

#hair h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
}

#hair p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.hair-srvs-div {
    width: 20%
}

#hairstyle {
    margin-top: 10%
}
 
.hair-srvs-div-2 {
    width: 50%; 
    float: right; 
    padding-right: 70px
}

#hairstyle p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    /* text-align: end; */
}

.hairstyle-div {
    width: 20%; 
    text-align: end;
}

#hairstyle img {
    min-width: 50%
}

#hairstyle h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    /* text-align: end; */
}

#makeup {
    margin-top: 15%
}

#makeup h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
}

.makeup1 {
    float: right;
    padding-left: 20px
    /* min-width: 110% */
}

.makeup2 {
    /* height: 400px */
    float: left;
}

#makeup img {
    height: 90%;
    max-width: 400px;
}

.makeup-p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

#group-events {
    margin-top: 15%; 
    padding-bottom: 10%;
}

#group-events img {
    max-width: 80%; 
    float: right
}

#group-events h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
}

.group-events-p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    width: 80%
}