.services-top {
    background-color: white;
}

.you-look-good {
    align-self: center;
}

.you {
    font-family: 'Pacifico', cursive;
    font-size: 80px; 
    margin-left: 20%; 
    text-shadow: 2px 2px #BC968A;
}

.look {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    margin-left: 20%; 
    text-shadow: 3px 3px #BC968A
}

.good {
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    margin-left: 20%; 
    text-shadow: 4px 4px #BC968A
}

#services img {
    max-width: 50%;
}